.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.pagination button {
  width: 30px;
  height: 30px;
  padding: 6px 6px;
  border: none;
  color: blue;
  background-color: whitesmoke;
  border-radius: 30px;
  cursor: pointer;
  font-size: 12px;
}

.pagination button.active {
  font-weight: bold;
  padding: 6px 6px;
  font-size: 14px;
}

.pagination button.navigated {
  background-color: blue;
  color: white;
}

.pagination button.highlight {
  background-color: orangered;
  color: white;
}

#sign_btn{
    color: white;
    background-color: orangered;
}
