.prev {
    /* از چپ وسط چین شود */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
/* Customize the table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;  
}

th,td,tr{
    border: 1px solid #dddddd;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
}

table td:first-child, table th:first-child {
    text-align: center;
}
/* --------------- */
/* tr:nth-child(even) {
    background-color: #dddddd;
} */