.prev {
    /* از چپ وسط چین شود */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.container{
    border: 1px solid ;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

button.sort-btn{
    background-color: transparent;
    color: black;
}
.dark-theme button.sort-btn{
    background-color: transparent;
    color: white;
}

button.sort-btn.active {
  color: #2196f3;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.2s;
}


.icon i {
  font-size: 15px;      /* اندازه آیکون */
  vertical-align: middle;
}

p{
    display: flex;
    align-items: center; /*  آیکون و متن هم‌ارتفاع می‌شن */
    gap: 6px;             /* فاصله بین آیکون و متن */
}

input#percent_filter_el{
    background-color: whitesmoke;
    padding: 5px;
    width: 5%;
    border: none;
}

