<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body dir="rtl">
    <div class="titles">
        <section class="description">
            <button id="theme_btn">حالت تاریک</button>
            <h1>سلام به سایت آزمون خوش آمدید .</h1>
            <h1>اطلاعات عمومی</h1>
            <h2>توضیحات : <span id="exam_description"></span></h2>
            <h2>تعداد سوالات : <span id="numberofquestions"></span> سوال </h2>
            <h2>زمان آزمون : <span id="exam_time"></span> دقیقه</h2>
            <h2>تعداد سوال امتیازی : <span id="numberofpoints_questions"></span></h2>
        </section>
        <section class="info"><span></span>
            <form id="info-form">
                <h1 id="info_title">اطلاعات خود را وارد کنید:</h1>
        
                <label for="name">نام و نام خانوادگی : </label><br><br>
                <input type="text" id="name" name="name" placeholder="لطفا نام و نام خانوادگی خود را وارد کنید" required> <br><br>

                <label for="email">ایمیل: </label><br><br>
                <input type="email" id="email" name="email" placeholder="لطفا ایمیل خود را وارد کنید" required> <br><br>
            </form>
            <button type="submit" id="submit_btn">شروع آزمون</button>
        </section>
    </div>
    <script src="../js/themes.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/exam_info.js"></script>
</body>
</html>