<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body dir="rtl">
    <div class="titles">
        <section class="description">
            <button id="theme_btn">حالت تاریک</button>
            <h1>اطلاعات عمومی</h1>
            <h2>تعداد سوالات : <span id="numberofquestions"></span> سوال </h2>
            <h2>زمان آزمون : <span id="exam_time"></span> دقیقه</h2>
            <h2>تعداد سوال امتیازی : <span id="numberofpoints_questions"></span></h2>
        </section>
        <section class="info">
            <form id="info-form">
                <h1 id="qnumber">سوال :</h1>
                <h2 id="title">عنوان سوال</h2>
                <label for="abox">جواب شما :</label><br><br>
                <textarea rows="15" id="abox" name="abox"></textarea><br><br>
            </form>
            <button id="next_btn">بعدی</button>
            <button id="prev_btn">قبلی</button>
        </section>
    </div>
    <script src="../js/themes.js"></script>
    <script src="../js/exam_info.js"></script>
    <script src="../js/qbox.js"></script>
</body>
</html>